* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent;
  font-weight: normal;
  text-decoration: none;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.container {
  width: 90%;
  margin: auto;
  margin-top: 30px;
  overflow: hidden;
  text-align: center;
  background-color: antiquewhite;
  padding: 20px;
  height: 700px;
  background: url(https://wallpaperaccess.com/full/1397712.jpg);
  position: relative;
  border-radius: 10px;
  margin-bottom: 30px;
}.divButton{
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: absolute;
  bottom: 3%;
  right: 3%;
}
.divButton button {
  display: flex;
  font-size: 18px;
  color: white;
  background-color: darkblue;
  outline: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 10%;
  
}
.container h1 {
  font-family: "Arial", sans-serif;
  font-weight: 600;
  letter-spacing: 3px;
}
.image {
  width: 60%;
  height: 200px;
  margin: auto;
  position: relative;
  top: 5%;
}
.image img {
  width: 100%;
  display: block;
  border-radius: 10px;
}
.chat_container {
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
}
.contact_div {
  padding: 20px;
  background-color: aquamarine;
  background: url(https://zeoob.com/assets/img/whatsapp_chat__background_.jpg);
  width: 28%;
  border: 1px solid brown;
  border-radius: 10px;
  height: 670px;
}
.chat_div {
    display: flex;
    flex-direction: column;
  background-color: aquamarine;
  background: url(https://i.pinimg.com/736x/8c/98/99/8c98994518b575bfd8c949e91d20548b.jpg);
  width: 68%;
  border: 1px solid brown;
  border-radius: 10px;
  height: 670px;
  position: relative;
  
}
.chat_name {
  padding: 20px;
  background-color: white;
  width: 100%;
  border-radius: 10px;
}
.message_section {
  position: absolute;
  top: 92%;
  width: 100%;
  display: flex;
  align-items: center;
}
.message_section input {
 
  padding: 20px;
  width: 100%;
  border-radius: 10px;
  background-color: white;
  border: 2px solid brown;
}
.send-icon {
    margin-left: 10px; 
    cursor: pointer; 
    margin-right: 10px;
    font-size: 24px;
  }
.contacts {
  padding: 20px;
  background-color: white;
  width: 100%;
  border-radius: 10px;
}
.chatBox {
    margin-left: auto;
  height: 550px;
  width: 30%;
  overflow: auto;

}
.listP {
  width: 97%;  
  color: white;
  margin-bottom: 15px;
  margin-left: 1px;
  list-style: none;
  font-size: 15px;
  background-color: rgb(55, 55, 134);
  padding: 10px;
  border-radius: 10px;
}
.navbar{
    padding: 20px;
    height: 60px;
    color: white;
    background-color: rgb(58, 58, 109);
    width: 100%;
}
.navbar a{
    color: white;
    font-size: 24px;
}


.tableDiv{
  color: white;
  padding: 20px;
  height: 752px;
  background-color: rgb(56, 56, 116);
}
.tableDiv h2{
  text-align: center;
}
table {
  text-align: center;
  border-radius: 10px;
  width: 70%;
  margin: 0 auto;
  margin-top: 20px;
  border: 1px solid #dddddd;
  
}


th {
  background-color: #696262;
  border: 1px solid #d3d2d2;
  padding: 8px;
  
}


tr {
  border: 1px solid #dddddd;
}

td {
  border: 1px solid #dddddd;
  padding: 8px;
  background-color: rgb(157, 157, 161);
}


tr:hover {
  background-color: rgb(212, 210, 210);
}

.buttonData{
  background-color: black;
}

/* searchbar */

.app{
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-container{
  margin-left: auto;
  width: 280px;
  display: flex;
  flex-direction: column;
}

.dropdown{
  background-color: white;
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
}
.dropdown:empty{
  border: none;
}
.dropdown-row{
  cursor: pointer;
  text-align: center;
  margin: 2px 0;
}
input{
  width: 220px;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}
.search-inner button{
  font-size: 16px;
  height: 40px;
  width: 80px;
  color: white;
  background-color: #395563;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px;
}
.search-inner{
  display: flex;
}

.loadingDiv{
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center; 
}
.loading{ 
  font-size: 48px;
}
.fromTable{
  color: white;
    font-size: 24px;
}
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  background-color: #007bff;
  color: #fdfcfc;
  border: none;
  border-radius: 5px;
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.pagination button.active {
  background-color: #151515;
}

.pagination button:hover {
  background-color: #013a77;
}
.alert{
  text-align: end ;
}